<!DOCTYPE html>

<head>
    <title>Anki Card</title>
</head>
<script>
 const card = {{{ card }}}
</script>
<body>
    <div id="question"></div>
    <div id="answer"></div>
    <div id="nextReviews"></div> 
</body>
<!-- <script  type="text/javascript"  src="/js/manipulateCardObject.js"></script>  -->

